*{
    padding: 0;
    margin: 0;
}
header{
    height: 9vh;
    background-color: rgb(230, 230, 230);
}
.left > ul > li{
    list-style: none;
}
.left > ul > li > a{
    color: black;
    font-weight: bolder;
    text-decoration: none;
    padding: 5vw 1vw;
    box-sizing: border-box;
}