*{
    padding: 0;
    margin: 0;
}
#logo
{
    display: flex;
    width: 7vw;
    height: 7vw;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    border: 2px solid red;
    border-radius: 100px;
}
#logo img
{
    width: 13vw;
}
.nav-bar
{
    display: flex;
    background-color: gray;
}