*{
    padding: 0;
    margin: 0;
}
body
{
    background: url(https://source.unsplash.com/random/?Wildlife/);
    background-size: 100vw;
    background-repeat: no-repeat;
}
#logo{
    display: inline-block;
    width: 20vw;
}
#logo a img{
    width: 100%;
}