*{
    padding: 0;
    margin: 0;
}
.nav-bar{
    display: flex;
    background-color: gray;
    height: 7vw;
}
#logo{
    height: 100%;
    padding: 10px;
}
#logo img{
    margin: auto;
    height: 80%;
}