@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
    padding: 0;
    margin: 0;
}
.nav-bar{
    display: flex;
    background-color: rgb(207, 202, 202);
    height: 6vw;
    align-items: center;
    overflow: hidden;
    justify-content: space-between;
}
#logo{
    height: 100%;
    margin-right: 20px;
    width: 6vw;
}
#logo img{
    height: 80%;
    padding: 6px;
    width: 100%;
}
.nav-items{
    display: flex;
    background-color: rgb(207, 202, 202);
    height: 100%;
    width: 100%;
    align-items: center;
    overflow: hidden;
    justify-content: space-around;
}
.nav-items > a{
    text-decoration: none;
    color: white;
    padding: 24px;
    font-size: 1.8vw;
    font-family: 'Ubuntu', sans-serif;
}
.nav-items > a:hover{
    text-decoration: underline;
    color:rgb(122, 32, 240);
}
#Search input[type="text"]{
    font-size: 1.5vw;
}
#Search button{
    font-size: 1.5vw;
    background:none;
    border: none;
    outline: none;
    padding: 8px;
}
#Search button:hover{
    cursor: pointer;
}
.Cards-Section{
    display: flex;
    flex-wrap: wrap;
    margin: 3vw;
    background-color: rgb(168, 167, 167);
    align-items: center;
}
.card{
    border: 2px solid red;
    margin: 1vw;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
}
.card > img{
    display: flex;
    margin: 4px auto;
    width: 80%;
}
#nothing{
    display: none;
    width: 100vw;
    height: 60vh;
    background-color: rgb(168, 167, 167);
    align-items: center;
    justify-content: center;
}